input[type="date"]{
  width: 100%;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  /* Add your custom styles here */
  /* For example: */
  color: red;
  background-color: #eaeabe;
  border-radius: 10px;
  padding: 4px;
  /* Add any other styles you want */
  &:hover{
    border: 0px solid blue; /* Change border color on hover */
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.5); /* Add a subtle box shadow on hover */
  }
}
