<div class="card">
  <div class="card-body">

    <form class="row col-12 g-3 needs-validation p-2" [formGroup]="createApprovalGroupForm">

      <div class="row ">
        <div class="col-4">
          <label for="name" class="form-label">Name*</label>
          <input type="text" class="form-control" formControlName="name" id="name">
          <div *ngIf="(!f['name'].valid && f['name'].dirty)" class="invalid">Name is required.</div>
        </div>

        <div class="col-4 create-group-btn">
          <button class="btn btn-primary " type="submit" [disabled]="createApprovalGroupForm.invalid"
                  (click)="create()" *ngIf="!isEditGroup">Create Approval Group
          </button>
          <button class="btn btn-primary " type="submit" [disabled]="createApprovalGroupForm.invalid"
                  (click)="updateApprovalGroup()" *ngIf="isEditGroup">Update Approval Group
          </button>
        </div>

      </div>

    </form>

  </div>
</div>
