// Primary colors
$color-primary-red: #FF4136;
$color-primary-orange: #FF851B;
$color-primary-yellow: #FFDC00;
$color-primary-green: #2ECC40;
$color-primary-blue: #0074D9;
$color-primary-purple: #B10DC9;

// Secondary colors
$color-secondary-pink: #FF80CC;
$color-secondary-brown: #A65F2E;
$color-secondary-gray: #AAAAAA;

// Tertiary colors
$color-tertiary-teal: #39CCCC;
$color-tertiary-navy: #001f3f;
$color-tertiary-maroon: #85144b;
