//form
$color-error-red: #e55353;
$input-border: #998fed;
$invalid-box-shadow: rgba(255, 0, 0, 0.25);
$ng-select-box-shadow: rgba(50, 31, 219, 0.25);

//table
$table-boarder: #a4abae;
$table-header: #E5E8E8;
$table-action-edit-border: #a9a5a5;
